
/* 
.red-box {
    background-color: red;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}
*/
.img-fluid {
    max-width: 100%;
    height: auto;
}
.border {
    border: 1px solid #dee2e6 !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}
.car-image {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}
 /*
.color-box {
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
*/